@model GetABuddy.Web.ViewModels.Home.EventViewModel
@{
    ViewBag.Title = "_Event";
}

<div class="well well-lg col-md-4">
	<a href="@Model.Url">
		<h3>@Model.Name</h3>
	</a>
	<h4>Where: @Model.City</h4>
	<h4>When: @Html.DisplayFor(m => m.Time, "Date")</h4>
	<div>Created by @Model.Creator in <a href="Category/ById/@Model.CategoryId">@Html.DisplayFor(m => m.Category, "Tag")</a></div>
	<br />
	<p><a class="btn btn-success" href="@Model.Url" role="button">Learn More</a></p>
</div>
