@model GetABuddy.Web.ViewModels.Home.IndexViewModel
@{
	ViewBag.Title = "Home Page";
}
<div class="container">
	<div class="jumbotron">
		<h1>Get a Buddy</h1>
		<p>
			You need someone to walk the dog with? Or someone to have a drink after work? Or maybe you need a tennis partner?
			Here you can a nice company for all your activities!
		</p>

		<p>Have fun and rediscover the artist within you!</p>

		<p><a class="btn btn-primary btn-lg" href="#" role="button" id="learnButton">Join now!</a></p>

	</div>
</div>
<h1>Last events</h1>
<div class="row">
	@foreach (var ev in Model.Events)
	{
		<div class="well well-lg col-md-4">
			<a href="@ev.Url">
				<h3>@ev.Name</h3>
			</a>
			<h4>Where: @ev.City</h4>
			<h4>When: @Html.DisplayFor(m => ev.Time, "Date")</h4>
			<div>Created by @ev.Creator in @Html.DisplayFor(m => @ev.Category, "Tag")</div>
			<br />
			<p><a class="btn btn-success" href="@ev.Url" role="button">Learn More</a></p>
		</div>
	}
</div>
<hr />

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Categories</h3>
	</div>
	<div class="panel-body row">
		@foreach (var category in Model.Categories)
		{
			<div class="col-md-2">
				<a href="@category.Id">
					<h4>@category.Name</h4>
				</a>
			</div>
		}
	</div>
</div>



