@model GetABuddy.Web.ViewModels.EventDetails.CommentViewModel
@{
    ViewBag.Title = "_Comment";
}

<div class="row comment">
	<div class="col-md-1">
		<span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span>
	</div>
	<div class="col-md-11">
		<p>@Model.Content</p>

		@if (User.Identity.IsAuthenticated)
		{
			<small>published by <a href="/Users/Profile/ByUserName?name=@Model.Author">@Model.Author</a> on @Html.DisplayFor(m => @Model.CreatedOn, "Date")</small>
		}
		else
		{
			<small>published by @Model.Author on @Html.DisplayFor(m => @Model.CreatedOn, "Date")</small>
		}		
	</div>
</div>
<br />

