@model GetABuddy.Web.ViewModels.EventDetails.EventDetailsViewModel
@{
	ViewBag.Title = "Event";
}

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<hr />
<a href="#" class="pull-right btn btn-success btn-lg">Join now!</a>
<div class="panel">
	<div class="panel-heading">
		<h1>@Model.Name by <span class="text-primary">@Model.Creator</span></h1>
		<div class="lead">in <a href="/Category/@Model.Id">@Model.Category</a></div>
	</div>
	<div class="panel-body">
		<h3><span class="label label-danger">What?</span></h3>
		@Html.DisplayFor(m => m.Description, "LeadWord")
		<div class="row">
			<div class="col-md-4">
				<h3><span class="label label-danger">Where?</span></h3>
				@Html.DisplayFor(m => m.City, "LeadWord")
			</div>
			<div class="col-md-4">
				<h3><span class="label label-danger">When?</span></h3>
				<p class="lead">@Html.DisplayFor(m => m.Time, "Date")</p>
			</div>
			<div class="col-md-4">
				<h3><span class="label label-danger">Participants?</span></h3>
				<p class="lead">@Model.NumberOfParticipants</p>
			</div>
		</div>

		<br />
		<h3>Say something</h3>

		@using (Ajax.BeginForm("AddComment",
				new AjaxOptions
				{
					HttpMethod = "POST",
					UpdateTargetId = "comments-container",
					InsertionMode = InsertionMode.Replace
				}))
		{
			<div class="row">
				@Html.HiddenFor(m => m.Id);
				<div class="col-md-6">
					<textarea name="content"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<input type="submit" class="btn btn-primary" value="Comment" />
				</div>
			</div>
		}

		@Html.Partial("_Comments", @Model)

		<hr />

	</div>
</div>
