@model GetABuddy.Web.ViewModels.Event.CreateEventViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	<h3>Create event</h3>
	@Html.ValidationSummary(true)
	<div class="row form-group">
		<div class="col-md-12">
			@Html.LabelFor(m => m.Event.Name)
			@Html.TextBoxFor(m => m.Event.Name, new { @class = "form-control", @placeholder = "Name of the event" })
		</div>
	</div>
	<br />

	<div class="row form-group">
		<div class="col-md-12">
			@Html.LabelFor(m => m.Event.Description)
			@Html.TextAreaFor(m => m.Event.Description, new { @class = "form-control", @placeholder = "Enter description" })
		</div>
	</div>
	<br />

	<div class="row form-group">
		<div class="col-md-12">
			@Html.LabelFor(m => m.Event.Time)
			@Html.TextBoxFor(m => m.Event.Time, new { @class = "form-control", @placeholder = "Enter description" })
		</div>
	</div>
	<br />

	<div class="row form-group">
		<div class="col-md-12">
			@Html.LabelFor(m => m.Event.NumberOfParticipants)
			@Html.TextBoxFor(m => m.Event.NumberOfParticipants, new { @class = "form-control", @placeholder = "Enter how many people do you need" })
		</div>
	</div>
	<br />

	<div class="row form-group">
		<div class="col-md-12">
			@Html.LabelFor(m => m.Event.CategoryId)
			@Html.Partial("_CategoriesDropDown", Model.Categories)
		</div>
	</div>
	<br />

	<div class="row form-group">
		<div class="col-md-12">
			@Html.LabelFor(m => m.Event.CityId)
			@Html.Partial("_CitiesDropDown", Model.Cities)
		</div>
	</div>
	<br />

	<div class="row form-group">
		<div class="col-md-10">
			<input type="submit" class="btn btn-success pull-left" value="Publish" />
		</div>
	</div>
}

